.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 1;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
  color: black;
}
/* спозиционировали и настроили ссылку */
.feynman__link:hover {
      opacity: 0.5;
      transition: 0.4s ease;
}
/* установили эффект при наведении */
