  @import url(./_theme/section-title_theme_dark.css);

.section-title {
    position: relative;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    font-size: 60px;
    font-weight: bold;
    width: 60%;
    line-height: 1.15;
  }
  /* настроили текст заголовка, отцентрировали */
