  @import url(./_theme/section-subtitle_theme_dark.css);

.section-subtitle {
    text-align: center;
    align-self: center;
    margin: 20px 0 0 0;
    font-size: 24px;
    line-height: 34px;
  }
  /* настроили подзаголовок, отцентрировали */
