@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);

.video {
  padding: 100px 0 0;
}

ul {
  margin-left:0; 
  padding-left:0;
  list-style-type: none;
}
/* эспортировали видео, задали отступы */
