.section-title_theme_dark {
      z-index: 1;
      margin: 90px 0 20px 0;
      font-weight: bold;
      font-size: 60px;
      line-height: 69px;
      width: 60%;
      color: white;
    }
    /* отцентрировали текст заголовка, настроили */
