.kaufman__triangle {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    top: 0;
    right: -210px;
    height: 877px;
    width:  877px;
    background-image: url(../../../images/kaufman-triangle.svg);
}
  /* спозиционировали, настроили "треугльник кауфмана" */
