.two-columns__brief {
    margin: 0;
    font-size: 18px;
    align-self: stretch;
    width: 175px;
    line-height: 1.2;
    font-weight: normal;
    color: #2f80ed;
  }
  /* настроили краткое описание */
